<div class="content_editor essence_richtext" id="<%= content.dom_id %>">
  <%= content_label(content) %>
  <div class="tinymce_container">
    <%= text_area_tag(
      content.form_field_name,
      content.ingredient || '',
      class: content.tinymce_class_name,
      id: "tinymce_#{content.id}"
    ) %>
  </div>
</div>
<% if Alchemy::Tinymce.plugins.include? 'image'%>
  <script>
    $.getScript( "//static.filestackapi.com/v3/filestack.js", function( data, textStatus, jqxhr ) {
      if (window.Alchemy === undefined) {
        window.Alchemy = {};
      }
      window.Alchemy.FileStack = {
        client: filestack.init("<%= ENV['FILESTACK_API_KEY']; %>", {
          accept: "<%= ENV['FILESTACK_SUPPORTED_IMAGE_EXTENSIONS'] %>".split(',')
        })
      }
    });
  </script>
<% end %>
